 .header{
    position: fixed;
    padding-top: 20px;
    width: 100%;
    z-index: 1;
}

.container .navbar{
    border-radius: 0px;
    background-color: transparent;
    border: 0px;
}

.container .dropdown>a{
    height: 20px;
    margin: 20px  10px 30px 10px;
    font-size: 14x;
    font-family: "Microsoft Yahei",arial,"\5b8b\4f53";
}

.container .collapse .navbar-nav a{
    color: white;
}
.container .collapse .navbar-nav a:hover{
    color: red;
}
.product-center{
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
}
.product-center>li{
    color: red;
    font-size: 15px;
}
.product-center ul.list-unstyled a{
    color: white;
    font-size: 10px;
    text-decoration: none;
}
.product-center ul.list-unstyled a:hover{
    color: red;

}
